.DS_Store
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dbus/
.dmrc
.gitconfig
.local/
.mozilla/
.profile
.ssh/
.sudo_as_admin_successful
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.vim/
.viminfo
.xsession-errors
Documents/
